@model IEnumerable<WEB2.Models.OrderDetail>

@{
    ViewData["Title"] = "Giỏ hàng";
}
@section Styles {
<link href="@Url.Content("/css/views/orderdetails/index.css")" rel="stylesheet" type="text/css" />

}
<main class="container mt-5" style="height: 100vh">

<div class="colory-lg-3"">
    <table class="tbl">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th>
                    Sản phẩm
                </th>
                <th>
                    Phiên bản
                </th>
                <th>
                    Màu sắc
                </th>
                <th>
                   Số lượng
                </th>
                <th>
                    Đơn giá 
                </th>
                <th>
                    Thành tiền
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                  Boolean vis = true;
            }     
            @foreach (var item in Model) {
                <tr>
                    <td>
                     <a href="/products/details/@item.ProductId">
                         <img src="@Html.DisplayFor(modelItem => item.Product.Picture)" alt = "@Html.DisplayFor(modelItem => item.Product.ProductName)" />
                     </a>   
                    </td>
                    <td>
                        <a class="prd-link" href="/products/details/@item.ProductId">
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </a>
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Product.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <div class="root1">@Html.DisplayFor(modelItem => item.Price)</div>
                        <span class="price-fld">@Html.DisplayFor(modelItem => item.Price)</span>
                    </td>
                    <td>
                        <span class="total-fld">@Html.DisplayFor(modelItem => item.Total)</span>
                    </td>
                    <td>
                        <a class="btn del-btn" href="/orderdetails/delete?productid=@item.ProductId&orderid=@item.OrderId">Xóa</a>
                    </td>
                </tr>
                if( vis == true) {
                    <div style="display: block" id="thanhtoan">
                        <a href="/orderdetails/pay/@item.OrderId" class="btn btn-default" >Thanh toán</a>
                    </div>
                    
                    vis = false;
                }  
            }
        </tbody>   
    </table>
</div>
<script src="@Url.Content("~/js/views/orderdetails/index.js")"></script>
<script>

</script>

</main>


     