@model WEB2.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.View)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.View)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RawPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RawPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorProductId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MSRP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MSRP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitInStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitInOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitInOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.InventoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Connection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Connection.ConnId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screen.ScreenId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Structure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Structure.StructId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sound)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sound.SoundId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Graphic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Graphic.GraphicId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Battery.BatteryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ram.RamId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OS.OsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Camera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Camera.CamId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Processor.CpuId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rom.RomId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
    <!-- Required vendors -->
    <script src="~/vendor/global/global.min.js"></script>
    <script src="~/js/quixnav-init.js"></script>
    <script src="~/js/custom.min.js"></script>